# Arquivos temporários e auxiliares do LaTeX
*.aux
*.log
*.toc
*.out
*.gz
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.run.xml
*.bcf

# Pastas ocultas
._*
Thumbs.db
.DS_Store

# Arquivos temporários do editor
*~
*.swp
*.bak
*.tmp
